# Exploring the World Bank Data
Data can be found in [here](https://datacatalog.worldbank.org/search/dataset/0037712/World-Development-Indicators)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Explore").getOrCreate()
spark

In [52]:
base_path = "../data/input/"
df = spark.read.csv(base_path + "WDIData.csv.bz2", header=True, inferSchema=True)
df.filter("`Country Code`='ARG'").limit(10).toPandas()
# df.show(3)
df.groupBy("`Country Code`").count().orderBy("`Country Code`").toPandas().head(4)
# df.columns

  Country Code  count
0          ABW   1486
1          AFE   1486
2          AFG   1486
3          AFW   1486

In [55]:
df.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- 2019: double (nullable = true)
 |-- 2020: double (nullable = true)
 |-- 2021: double (nullable = true)
 |-- 2022: double (nullable = true)
 |-- _c67: string (nullable = true)

## Checking some of the countries

In [53]:
df1 = df.filter("(`Country Code`='ARG' or `Country Code`like 'URY' or `Country Code`like 'CHL') and `Indicator Code`='NY.ADJ.NNTY.PC.CD'")
df1.select("`Country Name`", "`Country Code`", "`Indicator Code`", "`Indicator Name`").show(300, 0)

+------------+------------+-----------------+-----------------------------------------------------+
|Country Name|Country Code|Indicator Code   |Indicator Name                                       |
+------------+------------+-----------------+-----------------------------------------------------+
|Argentina   |ARG         |NY.ADJ.NNTY.PC.CD|Adjusted net national income per capita (current US$)|
|Chile       |CHL         |NY.ADJ.NNTY.PC.CD|Adjusted net national income per capita (current US$)|
|Uruguay     |URY         |NY.ADJ.NNTY.PC.CD|Adjusted net national income per capita (current US$)|
+------------+------------+-----------------+-----------------------------------------------------+

In [54]:
df1.limit(10).toPandas()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,_c67
0,Argentina,ARG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10265.670658,11761.781230,10865.789888,12578.146137,9879.584610,8244.068678,7211.541026,8993.547410,NaN,None
1,Chile,CHL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11688.278247,11281.813072,11133.063386,11819.491877,12167.308446,11556.470339,9756.161448,11095.880284,NaN,None
2,Uruguay,URY,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,14854.510424,14048.435558,14949.304683,16557.208784,16444.154738,15768.940291,13661.846748,14591.582026,NaN,None